#input_container { position:relative; padding:0; margin-top:300px; margin-left: 280px;}

#username 
{
   height:132px;
   margin:0; padding-left:
   80px; width: 487px;
   border-top-left-radius: 60px;
   border-bottom-left-radius: 60px;
   font-family: "HelveticaNeue";
   color:#333333;
   font-size: 32pt;
}
#password 
  { 
  	height:132px; 
  	 padding-left: 80px;
  	 width: 487px; 
	 font-family: "HelveticaNeue";
	color:#333333;
	font-size: 32pt;
  }


#login
 { height:135px;
   
  padding-left:30px;
  width: 487px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: red;
  color: white;
  font-family: "HelveticaNeue";
  color:#FFFFFF;
  font-size: 32pt; }

#input_img1 
  { 
  	position:absolute; 
  	left:18px; 
  	width:40px; 
  	height:40px;
  	 float: left;
  	  padding-top: 45px;
  }
#input_img2 
  { 
  	position:absolute;
  	 left:590px;
  	  width:40px;
  	   height:40px; 
  	    padding-top: 45px; 
  }

#remember_checkbox{

 margin-top: 51px;
 	height: 30px;
 width: 30px;
 margin-left: 290px;
 

}

input[type="checkbox"]{
	-webkit-appearance:none;
	border-radius: 8px;
	background-color: #FFF;
	cursor: pointer;

}

input[type="checkbox"]:checked{
	background-image: url("../images/checked.png");
	background-size: contain;
}


h4{
 display: inline;
 margin-left: 81px;
 font-weight: normal;

}
input:focus{
	outline-width: 0;
}

body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
footer{
	margin-top: 400px;
}

a{
	text-decoration: none;
}

footer img{

   margin-left: 200px;
   margin-top: 200px;
}

section{
	margin-top: 98px;

	
	
}
div{
	line-height: 0px;

}

#remember_span{
  font-family: "HelveticaNeue"; color:#333333;font-size: 32pt; 

}

#forgot_span
{
  font-family: "HelveticaNeue"; color:#333333;font-size: 32pt;


}
#mentor_span{
  font-family: "HelveticaNeue-UltraLight"; color:#000000;font-size: 172.21pt;
display: block;
margin-left: 290px;
}

#mentee_span
{
  font-family: "HelveticaNeue";color:#FFFFFF;font-size: 150.09pt;  color:white;
display: block;
margin-left: 290px;

}

#sapient_span{
color:white; font-size:40px;
margin-left: 7px;


}

#nitro_span{
color:black; font-size:40px;

}

#mentor_img{
border-radius: 100%;
width: 130px;
height: 130px ;
}
#logo{
width:30px;
 height:30px;
 margin-left: 280px;
}

#division2{
	
	line-height: 51px;
}



/*FORGOT PASSWORD STYLE */


 #emailPopup{
 	margin: 0;	
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   background-color: rgba(5,0,0,0.5); /* Black w/ opacity */  
}
#emailForm {
    background-color: #666;
    top: 250px;
    left: 449px;
    padding: 20px;
    border-radius: 28px;
    margin: auto;
    width: 50%;
}
 .close-popup {
text-align: center;
color:red;
position: fixed;
font-size: 1.5em;
}
#emailDone{
    border-radius: 0 28px 28px 0;
    height: 78px;
    width: 15%;
    background-color: #d92728;
    color: white;
    display: inline-block;
    text-align: left;
    font-size: 22px;
    cursor: pointer;
    line-height: 0;
    border: none;
    font-family:  Comic Sans Ms;
    text-align-last: justify;
    padding-left: 22px;
  }

 #success-msg{
  display: none;
}
#emailId{
    font-size: 25px;
    color: white;
    margin-left: 60px;
    font-family: Comic Sans Ms;
}
.popupDiv{
  margin-top: 24px;

}
 .enter-email  {
    display: block;
    padding-bottom: 20px;
    font-size: 30px;
    color: white;
    margin-left: 60px;
    font-family:  Comic Sans Ms;
  }  
  #forgot_username {
    border-radius: 30px 0 0 30px;
    height: 78px;
    width: 60%;
    font-size: 20px;
    border: none;
    padding-left: 5%;
    font-family:  Comic Sans Ms;
    margin: 40px 0 0 40px;
  }
  #errorMessage{
    margin:5px 0 0 60px;
    font-weight: bold;
    color:red;

  }


#ok-button
{
  border:2px solid red;
  border-radius: 5px;
  padding:5px;
 margin-left: 225px
}
  #errorMessage{
    margin:2px 0 0 60px;
  }